.footer{
    display: flex;
    height: 52px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    color: white;
}